import uvicorn
from fastapi import FastAPI

from {{ app_name }}.views import router

app = FastAPI()


@app.get("/")
async def index():
    return {"msg": "index"}


app.include_router(router)


if __name__ == '__main__':
    uvicorn.run(app)
